html, body
{
	width: 100%;
	min-height: 100%;

	font-family: 'Nunito', 'Roboto', 'Arial', sans-serif;
	font-size: 16px;
	color: #202020;
	line-height: 1.5;

	padding: 0;
	margin: 0;

	background-color: #f8f8f8;

	overflow-x: hidden;
}

/***********************************************************************************************************************
 * WebApp Tables
 */
 .table
 {
	width: 100%;

 	text-align: left;
 	margin-top: 16px;
 	margin-bottom: 16px;

 	border-collapse: collapse;
 }

 .table tbody tr td, .table thead tr th
 {
 	padding: 12px;
 }

 .table tbody tr td
 {
 	text-align: justify;
 	word-break: keep-all;

 	vertical-align: middle;
 }

 .table tbody tr
 {
	background-color: transparent;

	transition: 0.2s;
 }

 .table tbody tr:hover
 {
	background-color: rgba(38, 166, 154, 0.1);

	transition: 0.2s;
 }

 .table thead tr:nth-child(1)
 {
 	border-bottom: 2px solid #009688;
 }

 .table tbody tr:not(:last-child)
 {
 	border-bottom: 1px solid #202020;
 }

/***********************************************************************************************************************
 * WebApp Forms
 */
.form
{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;

	width: 100%;
}

.form-row, .form-column
{
	box-sizing: border-box;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;

	width: 100%;

	padding: 8px;
	margin: 8px;
}

.form-column
{
	align-items: flex-start;
	flex-direction: column;
}

.form-column .form-label, .form-column .form-input, .form-column .form-textarea
{
	margin-bottom: 8px;
}

.form-label
{
	width: 30%;

	font-family: 'Lato', 'Nunito', 'Arial', sans-serif;
	font-weight: bold;
}

.form-input, .form-textarea
{
	width: 65%;

	font-family: 'Nunito', 'Roboto', 'Arial', sans-serif;
	padding: 6px 12px 6px 12px;

	border-radius: 4px;
	border: 1px solid #d0d0d0;

	caret-color: rgba(20, 20, 20, 0.75);
	outline: none;

	transition: 0.2s;
}

.form-input:focus, .form-textarea:focus
{
	border-color: #4db6ac;
	box-shadow: 0px 0px 8px #4db6ac;

	transition: 0.2s;
	transition-timing-function: linear;
}

.form-textarea
{
	box-sizing: border-box;

	width: 100%;
	min-height: 200px;

	resize: vertical;

	transition-timing-function: linear;
}

.form-btn, .link-btn
{
	display: inline-block;
	text-decoration: none;

	font-family: 'Lato', 'Nunito', 'Arial', sans-serif;
	font-weight: bold;
	text-align: center;
	color: white;

	padding: 8px 32px 8px 32px;

	background-color: #00675b;

	border-radius: 2px;
	border: 2px solid #00675b;
	box-shadow: 0 0 1px 0 rgba(41, 67, 78, 0.2) inset, 0 0 1px 0 rgba(41, 67, 78, 0.2);
	outline: none;

	transition: 0.15s;
}

.form-btn:hover, .link-btn:hover
{
	cursor: pointer;

	border-color: #005b4f;
	background-color: #005b4f;

	transition: 0.15s;
}

.form-btn.btn-left
{
	align-self: flex-start;
}

.form-btn.btn-center
{
	align-self: center;
}

.form-btn.btn-right
{
	align-self: flex-end;
}

.form-error
{
	display: block;

	width: 100%;

	font-family: 'Lato', 'Roboto', 'Arial', sans-serif;

	padding: 6px 12px 6px 12px;
	margin: 6px 0 6px 0;

	border: 2px solid #e53935;

	background-color: #ff6f60;
}

/***********************************************************************************************************************
 * WebApp ColorPicker
 */
.colorpicker
{
	box-sizing: border-box;
	width: 100%;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;

	margin: 8px;
	padding: 8px;
}

.colorpicker .color
{
	width: 50px;
	height: 50px;

	margin: 8px;

	border: 3px solid transparent;
}

.colorpicker .color:hover
{
	cursor: pointer;

	border: 3px solid #202020;
}

.colorpicker .selected
{
	border: 3px solid #202020;
}


/***********************************************************************************************************************
 * WebApp Messages (errors, success)
 */
.msg
{
	display: block;

	width: 50%;
	height: auto;

	padding: 16px;
	margin: 32px auto 32px auto;
}

.msg.error
{
	border: 2px solid #e53935;

	background-color: #ff6f60;
}

.msg.success
{
	border: 2px solid #4caf50;

	background-color: #76d275;
}


/***********************************************************************************************************************
 * WebApp Modal
 */
.modal
{
	box-sizing: border-box;

	display: none;

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	max-height: 100%;

	background-color: #f5f5f5;

	padding: 16px;

	overflow-x: hidden;
	overflow-y: auto;
}

.modal .modal-close
{
	position: absolute;
	top: 16px;
	right: 16px;

	font-size: 1.2rem;
	font-weight: bold;
	color: #202020;
	text-decoration: none;
}


/***********************************************************************************************************************
 * WebApp Wrapper
 */
#wrapper
{
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: column;

	width: 100%;
	min-height: 100%;
}

#wrapper #navbar
{
	z-index: 42;

	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;

	color: white;
	background-color: #263238;

	border-bottom: 2px solid #102027;
}

#wrapper #navbar .brand
{
	display: inline-block;

	margin: 16px;

	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	color: white;

	text-decoration: none;
}

#wrapper #navbar .brand:hover
{
	text-decoration: underline;
}

#wrapper #navbar .links
{
	margin: 16px;
}

#wrapper #navbar .links ul
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;

	list-style-type: none;
}

#wrapper #navbar .links ul li a
{
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 1.2rem;
	color: white;
	text-decoration: none;

	margin: auto 16px auto 16px;
}

#wrapper #navbar .links ul li a:hover
{
	text-decoration: underline;
}

#wrapper #content
{
	width: 100%;
	height: 100%;
}

#home-forms
{
	box-sizing: border-box;

	display: flex;
	justify-content: center;
	align-items: stretch;

	width: 100%;
	height: 100%;

	padding: 64px;
}

#home-forms #form-register, #home-forms #form-login
{
	width: 600px;

	padding: 16px;
}

#home-forms #form-register
{
	border-right: 1px solid rgba(20, 20, 20, 0.15);
}

#home-forms #form-login
{
	border-left: 1px solid rgba(20, 20, 20, 0.15);
}


/***********************************************************************************************************************
 * WebApp Dashboard
 */
#dashboard
{
	box-sizing: border-box;
	width: 96%;

	margin: auto;

	padding: 32px;
}

.boards-list
{
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: row;
	flex-wrap: wrap;
}

.board
{
	box-sizing: border-box;
	display: inline-block;

	width: 20%;
	height: auto;

	font-weight: bold;
	font-size: 1.1rem;
	color: white;
	text-decoration: none;

	margin: 12px;
	padding: 6px 14px 6px 14px;

	background-color: #0069c0;

	border-radius: 3px;
	border: 2px solid #0069c0;

	transition: 0.2s;

	text-overflow: ellipsis;
}

.board:hover
{
	cursor: pointer;

	background-color: #005cb2;
	border-color: #005cb2;

	transition: 0.2s;
}

.board.newboard
{
	display: inline-block;
	text-decoration: none;
	text-align: center;

	border-color: #00675b;
	background-color: #00675b;

	transition: 0.2s;
}

.board.newboard:hover
{
	border-color: #005b4f;
	background-color: #005b4f;

	transition: 0.2s;
}

#form-newproject
{
	width: 50%;
}

/***********************************************************************************************************************
 * WebApp Board
 */
#board
{
	width: 100%;
}

#board .header
{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-direction: row;

	width: 100%;

	padding: 32px;
	color: white;

	border-bottom: 2px solid #1c313a;
}

#board .header .infos
{
	width: 65%;
}

#board .header .desc
{
	font-family: 'Nunito', 'Arial', sans-serif;

	white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#board .header .desc .fa-caret-down, #board .header .desc .fa-caret-up
{
	display: block;
	width: 100%;

	text-align: center;

	margin-top: 8px;

	cursor: pointer;
}

#board .header .infos .title
{
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 1.4rem;
	font-weight: bold;

	margin-bottom: 16px;
}

#board .header .actions
{
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	flex-direction: column;

	width: 25%;

	padding: 8px;
}

#board .header .actions .link-btn
{
	border-color: #34515e;
	background-color: #34515e;

	margin: 8px;
}

#board .header .actions .link-btn:hover
{
	border-color: #29434e;
	background-color: #29434e;

	color: white;
}

#form-edit
{
	width: 50%;
}

#members-wrapper
{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-direction: row;
}

#members-wrapper .members, #members-wrapper .invites
{
	width: 50%;

	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;

	padding: 16px;
}

#members-wrapper .invites #form-invite
{
	width: 75%;
}

#members-wrapper .members-listing
{
	width: 75%;

	position: relative;

	list-style-type: none;
}

#members-wrapper .members-listing li
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;

	width: 100%;

	padding: 4px;

	transition: 0.2s;
}

#members-wrapper .members-listing li:hover
{
	border-radius: 2px;
	background-color: rgba(38, 166, 154, 0.5);

	transition: 0.2s;
}

#members-wrapper .members-listing .fa-user-times
{
	position: absolute;
	right: 0;

	cursor: pointer;
}

#members-wrapper .members-listing .member, #members-wrapper .members-listing .member-since
{
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: bold;
}

#board .board-lists-container
{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: row;

	padding: 32px;
}

#board .board-lists-container .board-list
{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;

	width: 20%;

	color: white;

	border-radius: 4px;
}

#board .board-lists-container .board-list .board-list-header, #board .board-lists-container .board-list .board-list-footer
{
	width: 100%;

	padding: 4px;

	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 1.1rem;
	font-weight: bold;
	text-align: center;
}

#board .board-lists-container .board-list .board-list-tasks
{
	box-sizing: border-box;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;

	width: 100%;
	max-height: 700px;

	overflow-y: scroll;

	color: #202020;

	padding: 8px;
}

#board .board-lists-container .board-list .board-list-tasks::-webkit-scrollbar {
    width: 8px;
}


#board .board-lists-container .board-list .board-list-tasks::-webkit-scrollbar-track {
}


#board .board-lists-container .board-list .board-list-tasks::-webkit-scrollbar-thumb {
    background: #202020;
    border-radius: 3px;
}

#board .board-lists-container .board-list .board-list-tasks .task
{
	box-sizing: border-box;

	width: 100%;

	padding: 4px;
	margin-bottom: 8px;

	background-color: #fafafa;
	border-radius: 3px;
}

#board .board-lists-container .board-list .board-list-tasks .task-footer
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;

	margin-top: 8px;
}

#board .board-lists-container .board-list .board-list-tasks .task-footer .author
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;

	font-weight: bold;
}

#board .board-lists-container .board-list .board-list-tasks .task-footer .author img
{
	width: 28px;
	height: 28px;

	border-radius: 50%;
	background-color: #202020;
	border: 1px solid #202020;
}

#board .board-lists-container .board-list .board-list-footer
{
	text-align: left;
	color: white;
	padding-left: 8px;

	text-decoration: none;
}

#board .board-lists-container .board-list .board-list-footer:hover
{
	text-decoration: underline;
}
